body {
	background-color: lightgray;
}

.col-1 {
	border: 1px solid black;
	height: 50px;
	background-color: white;
}

.m {
	background-color: yellow;
}

.c {
	background-color: darkblue;
}

.b {
	background-color: blue;
}

.k {
	background-color: lightblue;
}

.s {
	background-color: navy;
}

.d {
	background-color: cornflowerblue;
}


.h {
	background-color: red;
	/*border: 4px solid red;*/
}
